<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add user to T1808M Database</title>
</head>
<body>
<h1>Create new user</h1>

<form th:action="@{/save}" method="post" th:object="${users}">

    <label th:text="Name" th:for="name" ></label>
    <input type="text" th:field="*{name}"/><br>

    <label th:text="Email" th:for="email"></label>
    <input type="text" th:field="*{email}"/><br>

    <label th:text="Phone" th:for="phone" ></label>
    <input type="text" th:field="*{phone}"/><br>

    <input type="submit" value="Save">


</form>



</body>
</html>